[submodule "opt/LinEnum"]
	path = opt/LinEnum
	url = git@github.com:rebootuser/LinEnum.git
[submodule "opt/evil-winrm"]
	path = opt/evil-winrm
	url = git@github.com:Hackplayers/evil-winrm.git
[submodule "opt/privilege-escalation-awesome-scripts-suite"]
	path = opt/privilege-escalation-awesome-scripts-suite
	url = git@github.com:carlospolop/privilege-escalation-awesome-scripts-suite.git
